@font-face {
  font-family: "iconfont"; /* Project id 2519935 */
  src: url('iconfont.woff2?t=1619891609054') format('woff2'),
       url('iconfont.woff?t=1619891609054') format('woff'),
       url('iconfont.ttf?t=1619891609054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: "\e689";
}

.icon-wujiaoxing:before {
  content: "\e74f";
}

.icon-search:before {
  content: "\e622";
}

.icon-close:before {
  content: "\e648";
}

.icon-select:before {
  content: "\e67e";
}

.icon-back:before {
  content: "\e697";
}

.icon-message:before {
  content: "\e6f0";
}

